<div class="wrapper thumbs_wrapper">
<div class="thumbs">
			<%= image_tag("thumbs/1.jpg")%>
			<%= image_tag("thumbs/2.jpg")%>
			<%= image_tag("thumbs/3.jpg")%>
			<%= image_tag("thumbs/4.jpg")%>
			<%= image_tag("thumbs/1.jpg")%>
			<%= image_tag("thumbs/2.jpg")%>
			<%= image_tag("thumbs/3.jpg")%>
			<%= image_tag("thumbs/4.jpg")%>
			<%= image_tag("thumbs/1.jpg")%>
			<%= image_tag("thumbs/2.jpg")%>
			<%= image_tag("thumbs/3.jpg")%>
			<%= image_tag("thumbs/4.jpg")%>
			<%= image_tag("thumbs/1.jpg")%>
			<%= image_tag("thumbs/2.jpg")%>
			<%= image_tag("thumbs/3.jpg")%>
			<%= image_tag("thumbs/4.jpg")%>

</div>
</div>

<%= render 'pages/footer'%>
